<template lang="pug">
doctype html
v-container(fluid pt-1 pb-0)
  v-layout(row wrap pt-0 mt-0)
    v-flex(xs12 md12)
      swiper(:options="swiperOption")
        swiper-slide(v-for="(item, i) in items" v-bind:key="i")
          div(v-bind:style="item.styles" class="img-slide")
            v-container
              v-layout(row v-bind:item="item" v-bind:class="{ reverse: item.isReverse }" wrap)
                v-flex(xs10 md4)
                  v-card(v-bind:class="item.classObject")
                    v-card-title(primary-title)
                      div(class="headline" v-bind:item="item") {{ item.card.title }}
                      div(v-bind:item="item") {{ item.card.body }}
                    v-card-actions
                      v-btn(flat dark v-bind:item="item") {{ item.card.footer }}

</template>

<script>
import {swiper, swiperSlide} from 'vue-awesome-swiper'
export default {
  data () {
    return {
      items: [
        {
          classObject: {
            'orange': true,
            'darken-2': true,
            'white--text': true
          },
          isReverse: true,
          styles: {
            backgroundImage: 'url("/static/carousel/slide.one.jpg")'
          },
          card: {
            title: 'Pensamos en el futuro',
            body: 'Nuestra tecnología nos lleva un paso adelante, sacamos del futuro lo que hacemos en el presente.',
            footer: 'Innovar es nuestra vida'
          }
        },
        {
          classObject: {
            'purple': true,
            'darken-2': true,
            'white--text': true
          },
          isReverse: false,
          styles: {
            backgroundImage: 'url("/static/carousel/slide.two.jpg")'
          },
          card: {
            title: 'Apoyamos el desarrollo',
            body: 'Apoyamos el crecimiento industrial y económico de la región, crecemos para ser mejores.',
            footer: 'Por un nuevo mañana'
          }
        },
        {
          classObject: {
            'indigo': true,
            'darken-2': true,
            'white--text': true
          },
          isReverse: true,
          styles: {
            backgroundImage: 'url("/static/carousel/slide.tree.jpg")'
          },
          card: {
            title: 'Creamos industria',
            body: 'Estamos descubriendo las capacidades que se necesitan para tener trabajo en las sociedades industriales.',
            footer: 'Por una sociedad avanzada'
          }
        },
        {
          classObject: {
            'green': true,
            'darken-3': true,
            'white--text': true
          },
          isReverse: false,
          styles: {
            backgroundImage: 'url("/static/carousel/slide.four.jpg")'
          },
          card: {
            title: 'Tenemos visión',
            body: 'Tenemos una visión clara de trabajo, mantener los ojos abiertos y continuar avanzando en equipo.',
            footer: 'Competimos para ganar'
          }
        },
        {
          classObject: {
            'blue-grey': true,
            'darken-2': true,
            'white--text': true
          },
          isReverse: false,
          styles: {
            backgroundImage: 'url("/static/carousel/slide.five.jpg")'
          },
          card: {
            title: 'Trabajamos en equipo',
            body: 'Creemos en trabajar juntos de la mano para llegar rápido, pero trabajamos en equipo para llegar mas lejos.',
            footer: 'No solo cumplimos, damos mas'
          }
        }
      ],
      swiperOption: {
        effect: 'fade',
        autoplay: 7500,
        autoplayDisableOnInteraction: false,
        speed: 3000
      }
    }
  },
  components: {
    swiper,
    swiperSlide
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  }
}
</script>

<style lang="stylus" scoped>
.img-slide 
  width 100%
  height 512px
  background-size cover
  background-position center
  background-repeat no-repeat
</style>
