<template lang="pug">
  doctype html
  div(class="hello")
    g-carousel
    g-icon-grid
    g-section1
    g-section3
    g-section2
    g-section4
    g-section5
    g-testimonios
    g-contact

</template>

<script>

import GCarousel from './GCarousel.vue'
import GIconGrid from './GIconGrid.vue'
import GSection1 from './GSection1.vue'
import GSection2 from './GSection2.vue'
import GTestimonios from './GTestimonios.vue'
import GContact from './GContact.vue'
import GSection3 from './GSection3.vue'
import GSection4 from './GSection4.vue'
import GSection5 from './GSection5.vue'

export default {
  name: 'hello',
  data () {
    return {

    }
  },
  components: {
    GCarousel,
    GIconGrid,
    GSection1,
    GSection2,
    GTestimonios,
    GContact,
    GSection3,
    GSection4,
    GSection5
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>

h1, h2 
  font-weight normal;

ul 
  list-style-type none
  padding 0


li 
  display inline-block
  margin 0 10px

a 
  color #42b983

</style>
