doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/share/css/style.css')

    script(src="/share/js/vendor/jquery/dist/jquery.min.js")
    script(src="/share/js/dist/js/foundation.min.js")
    script(src="/share/js/8084.prueba.js")

  body
    block content
