html

  head
    meta(charset="utf-8")
    title(Gases Industriales de Santander)
    meta(http-equiv='cache-control' content='no-cache')
    meta(http-equiv='expires' content='0')
    meta(http-equiv='pragma' content='no-cache')
    link(rel="stylesheet" type="text/css" href="/share/css/reset.css")
    link(rel="stylesheet" type="text/css" href="/share/css/croppie.css")
    link(rel="stylesheet" type="text/css" href="/share/css/reset.css")
    link(rel="stylesheet" type="text/css" href="/share/css/croppie.css")
    script(type="text/javascript" src="/lib/croppie.min.js")
    script(type="text/javascript" src="/lib/mqttws31.min.js")
    script(type="text/javascript" src="/lib/sha256.min.js")
    script(type="text/javascript" src="/lib/gwt.min.js?0.1.6.6")
    script(type="text/javascript" src="/boot/initrc.min.js?0.1.2.8")
    script(type="text/javascript" src="/bin/desktop.min.js?0.1.2.8")
    script(type="text/javascript" src="/bin/login.min.js?0.1.2.8")
    script(type="text/javascript" src="/bin/gpanel.min.js?0.1.3.8")
    script(type="text/javascript" src="/bin/gcontrol.min.js?0.1.5.5")
    script(type="text/javascript" src="/bin/block.min.js?0.1.2.9")

  body
