<template lang="pug">
  doctype html
  v-app(light)
    v-navigation-drawer(temporary v-model="drawer" overflow absolute enable-resize-watcher light class="hidden-md-and-up")
      v-list(dense)
        v-list-tile
          v-list-tile-action
            v-icon home
          v-list-tile-content
            v-list-tile-title Inicio
        v-list-tile
          v-list-tile-action
            v-icon gavel
          v-list-tile-content
            v-list-tile-title Misión
        v-list-tile
          v-list-tile-action
            v-icon flight_takeoff
          v-list-tile-content
            v-list-tile-title Visión
        v-list-tile
          v-list-tile-action
            v-icon accessibility
          v-list-tile-content
            v-list-tile-title Historia
        v-list-tile
          v-list-tile-action
            v-icon shopping_cart
          v-list-tile-content
            v-list-tile-title Servicios
        v-list-tile
          v-list-tile-action
            v-icon speaker_notes
          v-list-tile-content
            v-list-tile-title Contacto
    v-toolbar(dense dark xs12)
      v-icon(dark class="hidden-sm-and-down") desktop_mac
      v-icon(dark class="hidden-md-and-up") phone_iphone
      v-spacer
      v-btn(outline dark small) Login
    v-toolbar(prominent)
      img(src="../static/logo.gis.extended.svg", class="img_icon")
      v-spacer
      v-toolbar-side-icon(class="hidden-md-and-up" @click.native.stop="drawer = !drawer")
      v-toolbar-items(class="hidden-sm-and-down")
        v-btn(flat) Inicio
        v-btn(flat) Misión
        v-btn(flat) Visión
        v-btn(flat) Historia
        v-btn(flat) Servicios
        v-btn(flat) Contacto
    main
      router-view
    v-footer(fluid style="height:auto")
      v-spacer
        v-layout(row wrap)
          v-flex(xs12 md6 offset-md3)
            div(class="text-xs-center g-footer")  Copyright ©  {{ new Date().getFullYear() }} 
              span(class="orange--text text--darken-4") Jose Luis Cáceres Escudero 
              span Todos los derechos reservados.
          v-flex(xs12 md6 offset-md3 pb-3)
            div(class="text-xs-center g-footer") Icons made by 
              a(href="http://www.freepik.com" title="Freepik" class="orange--text text--darken-4") Freepik 
              span from 
              a(href="http://www.flaticon.com" title="Flaticon" class="orange--text text--darken-4") www.flaticon.com 
              span is licensed by 
              a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" class="orange--text text--darken-4") CC 3.0 BY          
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'bubble_chart', title: 'Inspire' }
        ],
        miniVariant: false,
        right: false,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    }
  }
</script>

<style lang="stylus">

@import './stylus/main'
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.img_icon 
  height 80%

.container
  padding-right 0
  padding-left 0

.g-footer
  font-family 'Roboto', sans-serif

</style>

